.logo {
  margin-top: 40px;
  max-height: 500px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.placeholder {
  font-family: "Helvetcia Neue", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 4em;
  font-variant: small-caps;
  margin-left: auto;
  margin-right: auto;
}

.blogPost {
  max-width: 50%;
  min-width: 400px;
  font-family: "Helvetcia Neue", Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  line-height: 150%;
}
